@Value words-width: 250px;
@Value gap: 20px;

.dialog {
    display: flex;
}

.dialog :global(.article) {
    width: calc(100% - words-width - gap);
}

.dialog :global(.words) {
    margin-left: gap;
    width: words-width;
}
