@value gap: 16px;
@value quarter-gap: calc(gap / 4);

.playlists {
    height: 100%;
}
.playlists ion-button:global(.button-block) {
    display: block;
}

.playlist {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

.header {
    align-items: center;
    padding: quarter-gap gap;
    font-size: 1.25em;
}
.header svg {
    margin-right: quarter-gap;
}

.note {
    font-size: 1.5em;
}
.note.playing {
    animation: rotation 5s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ranges {
    margin: 12px -4px 0;
}

.intro {
    display: block;
    font-size: 14px;
    margin: 16px 16px 48px 16px;
    white-space: pre-line;
}

ion-alert:global(.ios), ion-alert:global(.md) {
    position: fixed;
}

ion-toast {
    position: fixed;
}
