@value gap: 16px;
@value quarter-gap: calc(gap / 4);

.playlists {
    height: 100%;
}
.playlists ion-button:global(.button-block) {
    display: block;
}

.setting {
    display: inline-flex;
    align-items: center;
    float: right;
    padding: 0 .25em;
    color: var(--ion-color-dark);
    cursor: pointer;
    font-weight: bold;
}
.setting.active {
    background: var(--ion-color-dark);
    border-radius: .25em;
    color: white;
    font-weight: normal;
}
.setting svg {
    margin-right: .25em;
}

.playlist {
    margin-top: gap;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: quarter-gap gap quarter-gap 0;
}
.header > span {
    display: inline-flex;
    align-items: center;
}
.header svg {
    margin-right: quarter-gap;
}
.header ion-badge + ion-badge {
    margin-left: quarter-gap;
}

.disabled {
    text-decoration: line-through;
}

.note {
    font-size: 1.5em;
}
.note.playing {
    animation: rotation 5s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ranges {
    margin: 12px -4px 0;
}

.intro {
    display: block;
    font-size: 14px;
    margin: gap;
    white-space: pre-line;
}

.reset {
    margin: calc(gap * 2) 0;
}

ion-alert:global(.ios), ion-alert:global(.md) {
    position: fixed;
}

ion-toast {
    position: fixed;
}
