@value gap: 16px;
@value quarter-gap: calc(gap / 4);

.playlists {
    height: 90vh;
    width: 400px;
    overflow: auto;
    background: white;
}

@media screen and (max-width: 767px) {
    .playlists {
        width: 90vw;
    }
}

.playlist {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

.header {
    align-items: center;
    padding: quarter-gap gap;
    font-size: 1.25em;
}
.header svg {
    margin-right: quarter-gap;
}

.note {
    font-size: 1.5em;
}
.note.playing {
    animation: rotation 5s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ranges {
    margin: 12px;
}
.ranges.scopeless {
    margin-bottom: 0;
}
