@value bg: rgba(0,0,0,.6);

.corner {
    /* https://www.freecodecamp.org/news/make-a-css-only-ribbon/ */
    position: absolute;
    top: 0;
    right: 0;
    background: bg;
    box-shadow: 0 0 0 999px bg;
    clip-path: inset(0 -100%);
    color: white;
    transform: translate(29.3%) rotate(45deg);
    transform-origin: top left;
}

@media screen and (min-width: 768px) {
    .corner {
        font-size: 1.5em;
    }
}
