@media screen and (max-width: 768px) {
    .central {
        width: 90%;
    }
}

@media screen and (min-width: 769px) {
    .central {
        width: 50%;
    }
}

.central {
    margin: 0 auto;
}

.checkboxes :global(.checkbox), .checkboxes :global(.checkbox input) {
    font-size: 24px;
}

.actions {
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
}
.actions :global(.index) {
    background: none !important;
    color: black;
    font-weight: bold;
    transform: scale(1.5);
}
.actions .central {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}
.actions button {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    color: black;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
}
.actions button + button {
    margin-left: .5em;
}
.actions button.stateful {
    padding: .5em;
    border: 1px solid black;
    border-radius: .25em;
}
.actions button.stateful:hover {
    background: lightgrey;
}
.actions button.stateful.active {
    background: black;
    color: white;
}

.boxes {
    padding: 1em 0;
}