@value close-size: 40px;

.modal {
  position: relative;
  display: inline-block;
  margin-top: 50vh;
  margin-left: 50vw;
  transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  top: -20px;
  right: -20px;
  height: close-size;
  width: close-size;
  border-radius: close-size;
  font-size: close-size;
  background: black;
  color: white;
  cursor: pointer;
}

.close svg {
  display: inherit;
}
