@value card-background: white;
@value number-size: 1.5em;

.lookup {
  width: 60vw;
  overflow: hidden;
  background: white;
  border-radius: 10px;
}

.lookup .card {
  max-height: 60vh;
  overflow: auto;
  box-shadow: unset;
}

.lookup .header {
  padding-top: 0;
}

.lookup .title {
  display: none;
}

.history {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  padding: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.history span + span {
  margin-left: 10px;
}

.history .pill {
  display: inline-block;
  padding: 5px 10px;
  background: lightgray;
  border-radius: 20px;
  cursor: pointer;
}

.history .current {
  font-size: 2em;
  font-weight: bold;
}

@media screen and (max-width: 996px) {
  .lookup {
    width: 80vw;
  }
  .lookup .card {
    max-height: 80vh;
  }
}

.card {
  position: relative;
  padding: 0 5px 10px 5px;
  background: card-background;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
}

.card + .card {
  margin-top: 20px;
}

.card :global(.phonetics) > div {
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  position: sticky;
  top: 0;
  padding: 10px 0;
  background: card-background;
}

.title {
  display: inline-block;
  margin: 0 5px 10px 5px;
  padding: 0 15px;
  border-radius: 50px;
  font-size: 1.5em;
  font-weight: bold;
}

.matched {
  margin: 1px -4px;
  padding: 1px 2px 0 2px;
  border: 2px black dashed;
}

.groups {
  padding: 0 5px;
  overflow-x: visible;
  overflow-y: auto;
}

.group + .group {
  border-top: 1px solid #ddd;
}

.number {
  display: inline-block;
  height: number-size;
  line-height: number-size;
  width: number-size;
  margin-right: 5px;
  text-align: center;
  background: black;
  border-radius: 1em;
  color: white;
  user-select: none;
}

.phonetic {
  display: inline-block;
  margin: 0 5px;
  padding: 4px 16px;
  background: #eee;
  border-radius: 5px;
  font-weight: bold;
}

.pos {
  color: #808080;
  margin-right: 5px;
}

.actions {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  cursor: pointer;
  font-size: 20px;
}
