.qrCode {
  position: fixed;
  top: 50%;
  right: 10px;
  line-height: 1.2;
  transform: translateY(-50%);
  text-align: center;
}

.centered {
  display: inline-block;
  width: 160px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
}

.domain {
  margin-bottom: 5px;
}

@media screen and (min-width: 1920px) {
  .centered {
    width: 200px;
  }
}

@media screen and (max-width: 996px) {
  .qrCode {
    position: static;
    margin: 20px auto;
    transform: unset;
  }

  .centered {
    width: 300px;
    font-size: 1.5em;
  }
}

.portrait img {
  display: block;
}

.portrait .slogan {
  margin-top: 10px;
  overflow: hidden;
  text-align: center;
  white-space: pre-wrap;
}

.alipay {
  padding: 10px;
  background: rgb(25, 116, 245);
  color: white;
}

.alipay img {
  padding: 10px;
  background: white;
}

.url {
  padding: 10px;
  background: black;
  color: white;
}

.url canvas {
  height: 100% !important;
  width: 100% !important;
}
