.qrCode {
  position: fixed;
  top: 50%;
  right: 0;
  width: 150px;
  line-height: 1.2;
  overflow: hidden;
  transform: translateY(-50%);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
  text-align: center;
}

.domain {
  margin-bottom: 5px;
}

@media screen and (max-width: 996px) {
  .qrCode {
    position: static;
    width: 300px;
    font-size: 1.5em;
    transform: unset;
  }
}

.portrait img {
  display: block;
}

.portrait .slogan {
  margin-top: 10px;
  overflow: hidden;
  text-align: center;
  white-space: pre-wrap;
}

.alipay {
  padding: 10px;
  background: rgb(25, 116, 245);
  color: white;
}

.alipay img {
  padding: 10px;
  background: white;
}
