.qrCode {
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
}

.domain {
  margin-bottom: 5px;
}

.portrait img {
  display: block;
}

.portrait .slogan {
  margin-top: 10px;
  overflow: hidden;
  text-align: center;
  white-space: pre-wrap;
}

.alipay {
  padding: 10px;
  background: rgb(25, 116, 245);
  color: white;
}

.alipay img {
  padding: 10px;
  background: white;
}

.url {
  padding: 10px;
  background: black;
  color: white;
}

.url canvas {
  height: 100% !important;
  width: 100% !important;
}
