@value duration: .75s;
@value header-height: 54px;

.drawer {
    position: absolute;
    overflow: auto;
    background: white;
    animation-duration: duration;
}
.drawer.top, .drawer.bottom {
    left: 0;
    right: 0;
}
.drawer.left, .drawer.right {
    top: 0;
    bottom: 0;
}

@keyframes topIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes topOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes bottomIn {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(calc(100vh - 100%));
    }
}
@keyframes bottomOut {
    from {
        transform: translateY(calc(100vh - 100%));
    }
    to {
        transform: translateY(100vh);
    }
}

@keyframes leftIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes leftOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes rightIn {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(calc(100vw - 100%));
    }
}
@keyframes rightOut {
    from {
        transform: translateX(calc(100vw - 100%));
    }
    to {
        transform: translateX(100vw);
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: header-height;
    line-height: 1;
    border-bottom: 1px solid #ddd;
    font-size: calc(header-height / 3);
}

.title {
    margin: 0 1em;
    font-weight: bold;
}

.close {
    height: header-height;
    width: header-height;
    padding: calc(header-height / 6);
}
.close:hover {
    background: #f5f6f7;
    cursor: pointer;
}

.body {
    height: calc(100% - header-height);
}
