.blue {
    color: #00A2FF;
}
.bgBlue {
    background-color: #00A2FF;
}

.pink {
    color: #EF5FA6;
}
.bgPink {
    background-color: #EF5FA6;
}

.yellow {
    color: #F7BA00;
}
.bgYellow {
    background-color: #F7BA00;
}