@value gap: 20px;

@media screen and (min-width: 768px) and (max-width: 996px) {
    .gallery :global(.col) {
        --ifm-col-width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .gallery :global(.placard:hover) {
        transform: translateY(calc(gap / -2));
    }
}

.gallery :global(.placard) {
    margin: gap 0;
}

.title {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.title > svg {
    margin-right: 10px;
    font-size: 2em;
}
