.slide, .slide :global(.swiper) {
    height: 100%;
}

.slide :global(.swiper-slide) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 60px;
    font-size: 4em;
    font-weight: bold;
}

.slide :global(.swiper-slide.blue) {
    background: rgb(8, 115, 180);
    color: white;
}

.slide :global(.swiper-slide.red) {
    background: rgb(197, 42, 120);
    color: white;
}

.slide :global(.swiper-slide.yellow) {
    background: rgb(239, 179, 11);
    color: black;
}

.slide :global(.swiper-slide.green) {
    background: rgb(35, 171, 15);
    color: white;
}

.slide :global(.swiper-slide.black) {
    background: black;
    color: rgb(239, 179, 11);
}
