@value alpha: 0.3;
@value alpha-dual: calc(alpha * 2);
@value blur-radius: 2px;
@value blur-hover-radius: 4px;
@value gap: 20px;

@media screen and (min-width: 768px) {
  .placard:hover {
    transform: translateY(-10px);
  }
}

.blur {
  background: rgba(0, 0, 0, alpha);
  backdrop-filter: blur(blur-radius);
  -webkit-backdrop-filter: blur(blur-radius);
}

.placard {
  position: relative;
  padding: gap 0;
  color: white;
}

.placard .blur {
  transition: 0.2s;
}

.placard .pill {
  padding: .25em .5em;
}

.placard .bar {
  display: flex;
  flex-direction: column;
  padding: calc(gap / 2);
}

.placard .icon {
  font-size: 2em;
}

.placard:hover .blur {
  background: rgba(0,0,0,alpha-dual);
  backdrop-filter: blur(blur-hover-radius);
  -webkit-backdrop-filter: blur(blur-hover-radius);
}

.placard:hover .toolbox {
  display: flex;
  flex-direction: column;
}

.pill {
  display: inline-block;
  position: absolute;
  top: gap;
  left: gap;
  background: rgba(0, 0, 0, alpha);
  border-radius: 1.5em;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
  white-space: pre;
}

.footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main {
  font-weight: bold;
}

.main, .sub {
  display: inline-flex;
  align-items: center;
}

.icon {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  margin-right: 10px;
}

.rate {
  margin: 0 gap;
  font-size: 2em;
  text-align: right;
}

.rate svg {
  margin-left: 5px;
  stroke: black;
  stroke-width: 30px;
}

.toolbox {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, alpha);
  border-radius: 10px 0 0 10px;
  cursor: default;
  font-size: 32px;
  overflow: hidden;
}

.toolbox > span {
  display: inline-flex;
  padding: 10px;
}

.toolbox > span:hover {
  background: rgba(0, 0, 0, alpha);
}

@value video-width: 640px;
@value player-border: 10px;
.player {
  position: absolute;
  left: 50%;
  bottom: calc(100% - player-border);
  width: calc(video-width + player-border * 2);
  margin-left: calc((video-width + player-border) / -2);
  border: player-border solid rgba(0, 0, 0, alpha-dual);
  border-radius: player-border;
}

.player::after {
  content: '';
  position: absolute;
  top: calc(100% + player-border);
  left: calc(50% - player-border);
  border: player-border solid transparent;
  border-top-color: rgba(0, 0, 0, alpha-dual);
}
