@value alpha: 0.6;

@media screen and (max-width: 767px) {
  .gallery :global(.col) {
    --ifm-col-width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 996px) {
  .gallery :global(.col) {
    --ifm-col-width: 50%;
  }
}

.placard {
  position: relative;
  width: 100%;
  margin: 20px 0;
  color: white;
}

.full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  position: relative;
  height: 100%;
  background: #eee;
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.4);
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}

.container:hover {
  margin-top: -10px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.8);
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container:hover .pill, .container:hover .mask {
  background: rgba(0,0,0,.85);
}

.pill {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 6px 18px;
  background: rgba(0, 0, 0, alpha);
  border-radius: 50px;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
  white-space: pre;
}

.ribbon {
  /* https://www.freecodecamp.org/news/make-a-css-only-ribbon/ */
  position: absolute;
  inset: 0 0 auto auto;
  background: black;
  box-shadow: 0 0 0 999px black;
  clip-path: inset(0 -100%);
  font-size: 1.5em;
  transform: translate(29.3%) rotate(45deg);
  transform-origin: top left;
}

.mask {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  background: rgba(0, 0, 0, alpha);
}

.desc {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.desc:before {
  content: '📝';
  display: inline-flex;
  font-size: 1.5em;
}

.footer {
  font-size: 1em;
}

.footer:before {
  content: '📍';
  margin: 10px;
}

.attribution {
  color: #808080;
  font-size: 8px;
  text-align: center;
  vertical-align: middle;
}
