.checkbox {
    display: flex;
    align-items: center;
    padding: 0 .5em;
}

.highlight:not(.texting):hover, .highlight.texting .text:hover {
    background: lightgrey;
}

.index {
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
    text-align: center;
    margin-right: 1em;
    border-radius: 1em;
    color: white;
    font-size: .7em;
}
.index:not(.empty) {
    background: black;
}

.check {
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
    margin: 0 0.25em 0 0;
    border: 2px solid black;
    cursor: pointer;
}
.checked:not(.partial) {
    background: black;
}
.checked::before {
    content: '\2714';
    color: white;
    line-height: 1;
}
.checked.partial::before {
    content: '\25FC';
    color: black;
    font-size: 1.6em;
    line-height: 1;
}

.text {
    margin: 5px;
    padding: 0;
}
.text.empty {
    color: grey;
}
.text:not(.empty) {
    cursor: text;
}
.texting .text {
    flex-grow: 1;
    margin: 0;
    padding: 5px;
    color: black;
}
.texting .text:focus {
    background: aliceblue;
}
