.sidebar {
    position: fixed;
    top: 50%;
    right: 10px;
    line-height: 1.2;
    transform: translateY(-50%);
    text-align: center;
}

.centered {
    width: 160px;
}

.presenting {
    width: 300px;
    font-size: 1.5em;
}

@media screen and (max-width: 996px) {
    .sidebar {
        position: static;
        margin: 20px auto;
        transform: unset;
    }

    .centered {
        width: 250px;
        font-size: 1.5em;
    }
}

.url {
    line-height: 1;
    margin: 10px;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 1px;
}
