.player {
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.disc {
    display: flex;
    margin: 1rem;
    justify-content: center;
}

.disc img {
    width: 150px;
    animation-name: rotation;
    animation-duration: 23s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 100%;
}

.paused {
    animation-play-state: paused;
}

.title {
    font-size: 1.25em;
    font-weight: bold;
}

.actions, .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.actions > * {
    display: inline-flex;
    cursor: pointer;
}
.actions .main {
    font-size: 2.5em;
}
.actions svg {
    font-size: 1.5em;
}

.spinner {
    height: 1.5em;
    width: 1.5em;
}

.options {
    height: 42px;
}
.options > * + * {
    margin-left: 1rem;
}
