.linked {
  cursor: pointer;
}

.rounded {
  border-radius: 20px;
}

.shadowed {
  box-shadow: 0 0 8px 0 rgba(0,0,0,.4);
}

.shadowed:hover {
  box-shadow: 0 0 8px 0 rgba(0,0,0,.8);
}

.image :global(.lazyload-wrapper), .image img {
  width: 100%;
  height: 100%;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  overflow: visible;
}

.image :global(.attr) {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  color: #808080;
  font-size: 8px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image:global(.children .attr) {
  top: 100%;
  bottom: unset;
}
