.image {
  position: relative;
  display: inline-block;
  width: 100%;
  transform: scale(1);
}

.image :global(.full) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.image :global(.linked) {
  cursor: pointer;
}

.image:global(.rounded), .image :global(.rounded) {
  border-radius: 20px;
}

.image :global(.shadowed) {
  box-shadow: 0 0 8px 0 rgba(0,0,0,.4);
}

.image :global(.shadowed:hover) {
  box-shadow: 0 0 8px 0 rgba(0,0,0,.8);
}

.image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: unset;
  max-width: unset;
  min-height: 100%;
  min-width: 100%;
  overflow: visible;
}

.image :global(.ribbon) {
  /* https://www.freecodecamp.org/news/make-a-css-only-ribbon/ */
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  box-shadow: 0 0 0 999px black;
  clip-path: inset(0 -100%);
  color: white;
  transform: translate(29.3%) rotate(45deg);
  transform-origin: top left;
}

.image :global(.attr) {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #808080;
  font-size: 8px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image:global(.children .attr) {
  top: 100%;
  bottom: unset;
}

@media screen and (min-width: 768px) {
  .image :global(.ribbon) {
    font-size: 1.5em;
  }
}
